.formulario{
    max-width:$max;
    width:$max - 10%;
    text-align: center;
    margin:auto;
    margin-top:$medida-xl;
    background:$color-terciario;
    border-radius: 5px 80px 5px 80px;

    h2{
        justify-content: center;
        font-size:$font-size-ep + $font-size-sm;
        margin:$medida-md;
    }
    input{
        background:$color-white;
        height:calc($medida-md / 2);
        color:$color-terciario;
        width:$max - 30%;
    }
    textarea{
        background:$color-white;
        color:$color-terciario;
        width:$max - 30%;
    }
    .formulario__correo ,.formulario__nombre ,.formulario__mensaje{
        font-size:$font-size-sm;
        margin-top:$medida-md * 2;
        padding: auto;
    }
    #Enviar{
        color:$color-white;
        background:$btn-secundario;
        font-size:$font-size-sm;
        @include wid-hei(90px ,$medida-sm);
        @include mar-pad($medida-md ,auto);

        &:hover{
            background:$btn-hover;
            cursor: pointer;
            color:$color-white;
            transition: .7s;
            font-weight: 700;
        }
    }
}
.contactanos{
    img{
    display: block;
    margin: auto;
    width:$max;
    }

    h1{
    padding-top:$medida-xl + $medida-md;
    font-size:$font-size-sm * 2;
    @include dispay-justify-center;
    margin-bottom:$medida-md;
    background:$color-encabezado;
    }
}